{% extends "theme/base.twig" %}

{% block content %}
<h2>Customer with Product</h2>
    [<a href="{{ path_for('customer.product.attach', {id: customer_info.id} ) }}">Add Product</a>]
<fieldset>
    {{ customer_info | json_encode }}
</fieldset>
    <div id="list">

        search
        <input type="text" v-model="search_text">

        <table border="1">
            <thead>
            <tr>
                <th>&nbsp;</th>
                <th>user product selling_price</th>
                <th>cal something from selling price</th>
                <th>model_no</th>
                <th>material_code</th>
                <th>product_description</th>
                <th>product_voltage</th>
                <th>product_input_current</th>
                <th>product_framesize</th>
                <th>tp_withvat_rmb</th>
                <th>tp_novat_rmb</th>
                <th>usd_tp_novat</th>
                <th>price</th>
                <th>tp_update_date</th>
                <th>tp_update_by</th>
                <th>list_price_fobsh_usd</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(p, index) in product_list_sort" :key="p.id">
                <td><input type="button" value="save" v-on:click="save(p,index)"></td>
                <td>
                    <input type="text" v-model="p.pivot.selling_price">
                </td>
                <td v-text="p.pivot.cal"></td>
                <td v-text="p.model_no"></td>
                <td v-text="p.material_code"></td>
                <td v-text="p.product_description"></td>
                <td v-text="p.product_voltage"></td>
                <td v-text="p.product_input_current"></td>
                <td v-text="p.product_framesize"></td>
                <td v-text="p.tp_withvat_rmb"></td>
                <td v-text="p.tp_novat_rmb"></td>
                <td v-text="p.usd_tp_novat"></td>
                <td v-text="p.price"></td>
                <td v-text="p.tp_update_date"></td>
                <td v-text="p.tp_update_by"></td>
                <td v-text="p.list_price_fobsh_usd"></td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}


{% block js_footer %}
    <script>
      var customer_info = {{ customer_info | json_encode | raw }};
      var product_list = {{ product_list | json_encode | raw }}
    </script>
    <script src="/assets/js/product/index.js?v={{ appVersion }}"></script>
{% endblock %}
