<!DOCTYPE html>
<html>
<head>

</head>
<body>

<header>
    <div>
        <b>Customer</b>
        <a href="{{ path_for('customer.index') }}">List</a> |
        <a href="{{ path_for('customer.new') }}">New</a> |
        <a href="{{ path_for('customer.component') }}">Component</a>
    </div>
    <div>
        <b>User</b>
        <a href="{{ path_for('user.index') }}">List</a>
        <a href="{{ path_for('user.new') }}">New</a>
    </div>
    <div>
        <b>Product</b>
        <a href="{{ path_for('product.category') }}">Category</a>
    </div>
</header>

{% block content %}{% endblock %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.4/vue.js"></script>
{% block js_footer %}{% endblock %}

</body>
</html>
